* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

nav {
  z-index: 1111;
}

.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #042331;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
}

.sidebar header {
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 70px;
  background-color: #063246;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid black;
  transition: .4s;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -ms-transition: .4s;
  -o-transition: .4s;
}

ul li:hover a {
  padding-left: 50px;
  background: #052b3d;
}

.sidebar ul a i {
  margin-right: 16px;
}

#check {
  display: none;
}

label #btn, label #cancel {
  position: absolute;
  cursor: pointer;
  background-color: #042331;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

label #btn {
  left: 40px;
  top: 35px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all .4s;
  -webkit-transition: all .4s;
  -moz-transition: all .4s;
  -ms-transition: all .4s;
  -o-transition: all .4s;
}

label #cancel {
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
}

#check:checked ~ .sidebar {
  left: 0;
}

#check:checked ~ label #btn {
  left: 250px;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ label #cancel {
  left: 195px;
}

/* #check:checked ~ section{
    margin-left: 250px;
} */
section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../images/pexels-photo-7648049.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -ms-transition: all .5s;
  -o-transition: all .5s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section div.container {
  width: 80vw;
  height: 80vh;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 280px;
  margin-right: 25px;
  background-color: rgba(255, 255, 255, 0.726);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 50px;
}

section div.container-form {
  width: 80vw;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: 80vh;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 280px;
  margin-right: 25px;
  background-color: rgba(255, 255, 255, 0.726);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 50px;
}

section div.container-form div.card {
  font-size: 155px;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  color: #3d4d80;
}

section div.container-form input {
  padding: 5px;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  margin-bottom: 25px;
  display: block;
}

section div.container-form input.text {
  width: 300px;
}

section div.container-form input.button {
  display: inline;
  margin-right: 15px;
  width: 90px;
  height: 40px;
  background-color: #3d4d80;
  color: white;
  letter-spacing: 1.5px;
}

section div.container-form input.button:hover {
  background-color: #4d61a1;
}

@media screen and (max-width: 700px) {
  section div.container, section div.container-form {
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    z-index: 1;
    max-width: none;
  }
}
/*# sourceMappingURL=style.css.map */